html
  head
    title= tit 
    

  body
    div.container
      form.form-validator(action='/submit', method="post")
        input(type="text", name='name', required, placeholder="Ingrese su nombre")
        input(type="text", name='dni', required, placeholder="DNI")
        select(name='sexo', required)
          option Seleccionar opci贸n
          option(value='femenino') Femenino
          option(value='masculino') Masculino

        select(name='profesion', required)
          option Seleccionar opci贸n
          option(value='prof_1') Profesion 1
          option(value='prof_2') Profesion 2
          option(value='prof_3') Profesion 3
          option(value='prof_4') Profesion 4
          option(value='prof_5') Profesion 5
        select(name='provincia', required)
          option Seleccionar opci贸n
          option(value='baires') Buenos Aires
          option(value='cba') C贸rdoba
          option(value='sl') San Luis

        select(name='localidad', disabled)
          option No existen datos          

        input(type="date", name="f_nac", required,  placeholder="Ingrese su fecha de nacimiento")

        button.btn-success(type=submit) Enviar formulario